vsscale/shaders/FSRCNNX_x2_8-0-4-1.glsl linguist-vendored
vsscale/shaders/FSRCNNX_x2_16-0-4-1.glsl linguist-vendored
vsscale/shaders/FSRCNNX_x2_56-16-4-1.glsl linguist-vendored
vsscale/shaders/SSimDownscaler.glsl linguist-vendored
vsscale/shaders/SSimSuperRes.glsl linguist-vendored